.main-content {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Nirmala UI';
}

.form-cont {
	padding: 20px;
	background: lightcoral;
	max-width: 400px;
	width: 100%;
}

h2 {
	margin: 0 0 20px;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

label p {
	color: #ff0000;
	margin: 0 0 5px;
	font-size: 14px;
}

/* input {
	margin: 5px 0;
	padding: 8px;
	border: none;
	outline: none;
	flex: 1;
} */

input {
	margin: 5px 0;
	padding: 8px;
	border: none;
	outline: none;
	flex: 1;
	width: 100%;
	box-sizing: border-box; /* Ensure padding doesn't affect the width */
}


/* button {
	margin-top: 10px;
	padding: 10px 20px;
	font-size: 17px;
	background: #fff;
	border: none;
	cursor: pointer;
} */

button {
	margin-top: 10px;
	padding: 10px;
	font-size: 17px;
	background: #fff;
	border: none;
	cursor: pointer;
	width: 100%;
	box-sizing: border-box;
}


@media (max-width: 480px) {
	.form-cont {
		padding: 10px;
	}
}
